.DS_Store
target/
*.o
*.dat
*.iml
.idea/
.idea_modules/
*.swp
*~
.emacs.desktop*
*.pyc
*.png
*.report
*.log
metastore_db/
report/
.classpath
.project
.settings/

conf/hadoop.conf
conf/spark.conf
conf/tpcds.conf

tpcdsDataGenerator/tpcdsTools/.ctags_updated
tpcdsDataGenerator/tpcdsTools/Makefile
tpcdsDataGenerator/tpcdsTools/checksum
tpcdsDataGenerator/tpcdsTools/columns.h
tpcdsDataGenerator/tpcdsTools/distcomp
tpcdsDataGenerator/tpcdsTools/dsdgen
tpcdsDataGenerator/tpcdsTools/dsqgen
tpcdsDataGenerator/tpcdsTools/mkheader
tpcdsDataGenerator/tpcdsTools/streams.h
tpcdsDataGenerator/tpcdsTools/tables.h
tpcdsDataGenerator/tpcdsTools/tags
tpcdsDataGenerator/tpcdsTools/tokenizer.c
tpcdsDataGenerator/tpcdsTools/tpcds.idx
tpcdsDataGenerator/tpcdsTools/tpcds.idx.h
tpcdsDataGenerator/tpcdsTools/y.output
tpcdsDataGenerator/tpcdsTools/y.tab.c
tpcdsDataGenerator/tpcdsTools/y.tab.h
